:root {
  --p: 17px;
  --h4: 23px;
  --h3: 30px;
  --h2: 40px;
  --h1: 50px;
  --purple: #2f336f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2f336f;
  margin: 0;
}
#hero {
  width: 100%;
  height: 580px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#heroText {
  width: 900px;
  position: relative;
  left: 100px;
  top: 20px;
}
#hero h1 {
  font-family: "fraunces";
  font-size: var(--h1);
}
#hero p {
  font-family: "sora";
  font-size: var(--p);
}
#hero img {
  width: 100%;
  height: 90%;
  position: absolute;
  top: -200px;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent 100%);
}
#mainPage {
  position: relative;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}
#mainPage video {
  width: 100%;
  position: absolute;
  z-index: -2;
  top: -600px;
  -webkit-mask-image: linear-gradient(to top, rgb(53, 51, 51) 50%, transparent 100%);
  mask-image: linear-gradient(to top, rgb(0, 0, 0) 40%, transparent 100%);
}

@font-face {
  font-family: "fraunces";
  src: url(../font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
  font-family: "frauncesItalic";
  src: url(../font/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
  font-family: "sora";
  src: url(../font/Sora-VariableFont_wght.ttf);
}


/* Starter med skyene */
#cloud1 {
left: 4%; 
top: 4%;
width: 380px;
height: 198px;
background-image: url("/img/Cloud1.png");
animation-duration: 9s;}

#cloud2 {
left: 58%; 
top: 0%;
width: 360px;
height: 216px;
background-image: url("/img/Cloud2.png");
animation-duration: 12s;
animation-delay: -4s;}

#cloud3 {
left: 32%; 
top: 32%;
width: 360px;
height: 211px;
background-image: url("/img/Cloud3.png");
animation-duration: 10.5s;
animation-delay: -7s;}


/* dette er skyen nede høyre bunn */
#cloud6 {
left: 60%; 
top: 52%;
width: 400px;
height: 147px;
background-image: url("/img/Cloud6.png");
animation-duration: 10s;
animation-delay: -5s;}


#cloud5 {
left: 3%; 
top: 58%;
width: 360px;
height: 183px;
background-image: url("../img/Cloud5.png");
animation-duration: 11s;
animation-delay: -2s;}


#cloudPage {
    position: relative;
    height: 620px;
    z-index: 1;
} 

.cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#topicPage {
  display: none;
}




